<md-toolbar class="md-menu-toolbar">
  <div layout="row" layout-xs="column" layout-align="center center">
    <div>
      <img src="assets/logo.png" class="logo" />
    </div>

    <md-button href="index.html"><span class="fa fa-home"></span>&nbsp;Dashboard</md-button>
    <md-button href="orders"><span class="fa fa-file-pdf-o"></span>&nbsp;Objednávky</md-button>
    <md-button href="subtenants"><span class="fa fa-object-ungroup"></span>&nbsp;Subtenanti</md-button>
    <md-button href="history"><span class="fa fa-history"></span>&nbsp;Historie</md-button>

    <md-menu-bar class="md-toolbar-tools" flex>
      <md-menu>
        <md-button ng-click="$mdMenu.open()">{{::main.userData.username}}</md-button>
        <md-menu-content>
          <md-menu-item>
            <md-button ng-click="main.changeInvoiceInput()">Fakturační údaje</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="main.changePassword()">Změnit heslo</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="main.logout()">Odhlásit se</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-menu-bar>
  </div>
  <md-divider></md-divider>
</md-toolbar>


<script type="text/ng-template" id="changeInvoiceInput.html">
  <div cg-busy="[ctrl.user]"></div>
  <md-dialog  flex-gt-sm="30" flex>
    <md-toolbar class="md-accent">
      <h2 class="md-toolbar-tools">
       Fakturační údaje
     </h2>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <form name="ctrl.changeInvoiceInputForm" role="form">
          <md-input-container class="md-block form-group" flex-gt-sm>
            <label>Jméno a přijmení (název firmy)</label>
            <input type="text" ng-model="ctrl.user.name" ng-required="true">
          </md-input-container>
          <md-input-container class="md-block form-group" flex-gt-sm>
            <label>Email</label>
            <input type="text" ng-model="ctrl.user.email" ng-required="true">
          </md-input-container>
          <md-input-container class="md-block form-group" flex-gt-sm>
            <label>Ulice a číslo popisné</label>
            <input type="text" ng-model="ctrl.user.street" ng-required="true">
          </md-input-container>
          <md-input-container class="md-block form-group" flex-gt-sm>
            <label>Město</label>
            <input type="text" ng-model="ctrl.user.city" ng-required="true">
          </md-input-container>
          <md-input-container class="md-block form-group" flex-gt-sm>
            <label>PSČ</label>
            <input type="text" ng-model="ctrl.user.postalCode">
          </md-input-container>
          <md-input-container class="md-block form-group" flex-gt-sm>
            <label>IČ</label>
            <input type="text" ng-model="ctrl.user.ico">
          </md-input-container>
          <md-input-container class="md-block form-group" flex-gt-sm>
            <label>DIČ</label>
            <input type="text" ng-model="ctrl.user.dic">
          </md-input-container>


      </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-xs="column" layout-align="end center">
      <md-button type="button" class="md-raised md-accent" ng-disabled="!ctrl.changeInvoiceInputForm.$valid" ng-click="ctrl.change()">Uložit</md-button>
      <md-button type="button" class="md-raised" ng-click="ctrl.cancel()">Zavřít</md-button>
    </md-dialog-actions>
  </md-dialog>
</script>


<script type="text/ng-template" id="changePasswordInternal.html">
  <div cg-busy="[ctrl.promise]"></div>
  <md-dialog>
    <md-toolbar class="md-accent">
      <h2 class="md-toolbar-tools">
        Změna hesla
      </h2>
    </md-toolbar>

   <md-dialog-content>
      <div class="md-dialog-content">
        <form name="ctrl.changePasswordForm" role="form" ng-cloak>
          <md-input-container class="md-block form-group" flex-gt-sm>
            <label>Původní heslo</label>
            <input type="password" ng-model="ctrl.oldPassword" ng-required="true">
          </md-input-container>
          <md-input-container class="md-block form-group" flex-gt-sm>
            <label>Nové heslo</label>
            <input type="password" ng-model="ctrl.password" ng-required="true">
          </md-input-container>
          <md-input-container class="md-block form-group" flex-gt-sm>
            <label>Potvrdit heslo</label>
            <input type="password" ng-model="ctrl.confirmPassword" ng-required="true">
          </md-input-container>
        </form>
      </div>

    </md-dialog-content>
    <md-dialog-actions layout="row" layout-xs="column" layout-align="end center">
        <md-button type="submit" class="md-raised md-accent" ng-click="ctrl.change()" ng-disabled="ctrl.password !== ctrl.confirmPassword || !ctrl.changePasswordForm.$valid">Změnit heslo</md-button>
        <md-button type="button" class="md-raised" ng-click="ctrl.cancel()">Zavřít</md-button>
    </md-dialog-actions>
  </md-dialog>

</script>
