<div cg-busy="[ctrl.tenants,ctrl.promise]"></div>
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
    <div class="title pull-left">Seznam tenantů</div>
  </div>

  <div class="panel-body" ng-cloak>
    <div class="panel panel-default">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Uzivatelské jméno</th>
          <th>Zakoupená alokace GB</th>
          <th>Využívaná velikost GB</th>
          <th>Využívaná velikost %</th>
          <th>Počet VM</th>
          <th>Počet Server</th>
          <th>Počet Workstation</th>
          <th>Počet subtenantů</th>
          <th>Kredit</th>
          <th>Povolen</th>
          <th>VIP</th>
          <th>Založen</th>
          <th>Akce</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="tenant in ctrl.tenants">
          <td><a href="subtenants?uid={{::tenant.uid}}">{{::tenant.username}}</a></td>
          <td>{{::tenant.quota/1024 | number:1}}</td>
          <td>{{::tenant.usedQuota/1024 | number:1}}</td>
          <td>{{::(tenant.usedQuota/tenant.quota)*100 | number:2}}%</td>
          <td>{{::tenant.vmCount}}</td>
          <td>{{::tenant.serverCount}}</td>
          <td>{{::tenant.workstationCount}}</td>
          <td>{{::tenant.subtenantsCount}}</td>
          <td>{{::tenant.credit}}</td>
          <td>
            <span class="fa fa-check" style="color: green" ng-if="tenant.enabled"></span>
            <span class="fa fa-remove red" style="color: red" ng-if="!tenant.enabled"></span>
          </td>
          <td>
            <span class="fa fa-check" style="color: green" ng-if="tenant.vip"></span>
            <span class="fa fa-remove red" style="color: red" ng-if="!tenant.vip"></span>
          </td>
          <td>{{::tenant.dateCreated | portalDateTime}}</td>
          <td>
            <div class="form-inline input-group-sm">
            <select ng-model="ctrl.actionKey[tenant.uid]" class="form-control input-sm">
              <option></option>
              <option ng-show="tenant.enabled" value="disable">zakázát</option>
              <option ng-show="!tenant.enabled" value="enable">povolit</option>
              <option value="changePassword">změna hesla</option>
              <option value="changeQuota">změna velikosti kvóty</option>
              <option value="changeCredit">manuální změna kreditů</option>
              <option ng-show="!tenant.vip" value="addVip">zařadit do VIP</option>
              <option ng-show="tenant.vip" value="removeVip">vyřadit z VIP</option>
              <option value="delete">smazat z portálu</option>
            </select>
            <button class="form-control input-sm btn-mycom" ng-click="ctrl.action(tenant)"><i class="fa fa-play-circle"></i></button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div ng-show="ctrl.subtenants.length==0">
        Nic nenalezeno.
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="tenantChangeQuota.html">
  <div cg-busy="[ctrl.promise]"></div>
  <form name="ctrl.changeQuotaForm" role="form">
    <div class="modal-header">
      <button type="button" class="close" ng-click="ctrl.cancel()">×</button>
      <h4 class="modal-title">Změna velikosti kvóty</h4>
    </div>
    <div class="modal-body">
      <div class="form-group form-group-sm">
        <label>Nová velikost kvóty v GB: </label>
        <input type="number" class="form-control" ng-model="ctrl.quota" required="true">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-mycom" ng-disabled="!ctrl.changeQuotaForm.$valid" ng-click="ctrl.save()">Uložit</button>
      <button type="button" class="btn btn-default" ng-click="ctrl.cancel()">Zavřít</button>
    </div>
  </form>
</script>

<script type="text/ng-template" id="tenantChangePassword.html">
  <div cg-busy="[ctrl.promise]"></div>
  <form name="ctrl.changePasswordForm" role="form">
    <div class="modal-header">
      <button type="button" class="close" ng-click="ctrl.cancel()">×</button>
      <h4 class="modal-title">Změna hesla</h4>
    </div>
    <div class="modal-body">
      <div class="form-group form-group-sm">
        <label>Nové heslo: </label>
        <input type="text" class="form-control" ng-model="ctrl.tenant.password" required="true">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-mycom" ng-disabled="!ctrl.changePasswordForm.$valid" ng-click="ctrl.save()">Uložit</button>
      <button type="button" class="btn btn-default" ng-click="ctrl.cancel()">Zavřít</button>
    </div>
  </form>
</script>

<script type="text/ng-template" id="tenantChangeCredit.html">
  <div cg-busy="[ctrl.promise]"></div>
  <form name="ctrl.changeCreditForm" role="form">
    <div class="modal-header">
      <button type="button" class="close" ng-click="ctrl.cancel()">×</button>
      <h4 class="modal-title">Manuální změna kreditů</h4>
    </div>
    <div class="modal-body">
      <div class="form-group form-group-sm">
        <label>Kredit: </label>
        <input type="number" class="form-control" ng-model="ctrl.tenant.credit" required="true">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-mycom" ng-disabled="!ctrl.changeCreditForm.$valid" ng-click="ctrl.save()">Uložit</button>
      <button type="button" class="btn btn-default" ng-click="ctrl.cancel()">Zavřít</button>
    </div>
  </form>
</script>
