<h1>{{'NAVIGATION.TENANT' | translate}}</h1>


<div class="table-responsive" *ngIf="showform == false" >
  <div class="ngbox">
  <button type="button" class="btn btn-outline-primary" (click)="createTenant();">{{'ACTION.ADD' | translate}} </button>
  </div>
  <table class="table table-striped table-bordered">
    <thead>

 <tr>
    <th>{{'TENANT.USERNAME'| translate}}</th>
    <th>{{'TENANT.USEDQUOTA'| translate}}</th>
    <th>{{'TENANT.VM'| translate}}</th>
    <th></th>
 </tr>
</thead>
<tbody>

<tr *ngFor="let tenant of tenants" [ngClass]="tenant.enable ? 'succes':'error'">
      <td [ngClass]="tenant.enable ? 'succes':'error'">{{tenant.username}}
      </td>
      <td>
<div class="progress" style="width: 100%;">

  <!-- delete comment after bootstrap fixed -->
        <!-- <progressbar [max]="tenant.quota" [value]="tenant.usedQuota" [animate]="false"> -->
        <!-- <span style="color:white; white-space:nowrap;text-align = center;">{{tenant.usedQuota}} / {{tenant.quota}}</span> -->
        <!-- </progressbar> -->
        <div class="progress-bar progress-bar-striped" [style.width.%]="(tenant.usedQuota/tenant.quota)*100">
            <span style="color:white; white-space:nowrap;text-align = center;">{{tenant.usedQuota}} / {{tenant.quota}}</span>
            </div>

</div>
      </td>
      <td >{{tenant.vm}}
      </td>
      <td><button class="btn btn-primary  btn-sm" (click)="selectTenant(tenant,'update');">{{'ACTION.EDIT' | translate}}</button> <button class="btn btn-danger btn-sm" (click)="deleteTenant(tenant);">{{'ACTION.DELETE' | translate}}</button></td>
      <!-- <td *ngIf="selectedTenant == tenant"> -->
        <!-- <h1 *ngIf="selectedTenant == null">{{TENANT.ADD | translate}}</h1> -->
        <!-- <tenant-edit-form [tenant]="selectedTenant"></tenant-edit-form> -->

    </tr>
  </tbody>
</table>
</div>
<div *ngIf="showform == true">
  <h2>{{'TENANT.ADD' | translate}}</h2>
  <tenant-edit-form [tenant]="selectedTenant" (onSave)="onSave();" (onCancel)="onCancel();"></tenant-edit-form>

</div>
