<!-- <form  name="form" (ngSubmit)="save();" #f="ngForm" novalidate> -->
  <form  name="form" (ngSubmit)="f.form.valid && tenant" #f="ngForm" novalidate>
  <div class="form-control">
  <div class="form-group" [ngClass]="{ 'has-error': true }">
        <label for="username">{{ 'TENANT.USERNAME' | translate }}</label>
        <input type="`text`" class="form-control" name="username" placeholder="user@domain.com" [(ngModel)]="tenant.username" #username="ngModel" required email="true"/>
        <div [hidden]="username.valid || username.pristine" class="alert alert-danger">{{ 'TENANT.USERNAME' | translate }} {{ 'COMMON.REQUIRED' | translate }}. {{ 'COMMON.MUSTBEEMAIL' | translate }}</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': true }">
        <label for="quota">{{ 'TENANT.QUOTA' | translate }}</label>
        <input type="text" class="form-control" name="quota" [(ngModel)]="tenant.quota" #quota="ngModel" required  min="1"/>
        <div [hidden]="quota.valid || quota.pristine" class="alert alert-danger">{{ 'TENANT.QUOTA' | translate }} {{ 'COMMON.REQUIRED' | translate }}. {{ 'COMMON.MUSTBENUMBER' | translate }}</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': true }">
        <label for="vm">{{ 'TENANT.VM' | translate }}</label>
        <input type="text" class="form-control" name="vm" [(ngModel)]="tenant.vm" #vm="ngModel" required min="1"/>
        <div [hidden]="vm.valid || vm.pristine" class="alert alert-danger">{{ 'TENANT.VM' | translate }} {{ 'COMMON.REQUIRED' | translate }}</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': true }">
        <label for="firstname">{{ 'TENANT.FIRSTNAME' | translate }}</label>
        <input type="text" class="form-control" name="firstname" [(ngModel)]="tenant.firstname" #firstname="ngModel" required minLenght="2"/>
        <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">{{ 'TENANT.FIRSTNAME' | translate }} {{ 'COMMON.REQUIRED' | translate }}</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': true }">
        <label for="lastname">{{ 'TENANT.LASTNAME' | translate }}</label>
        <input type="text" class="form-control" name="lastname" [(ngModel)]="tenant.lastname" #lastname="ngModel" required  minLenght="2"/>
        <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">{{ 'TENANT.LASTNAME' | translate }} {{ 'COMMON.REQUIRED' | translate }}</div>
    </div>
    <div class="form-group">

        <button  type="submit" (click)="save()" [disabled]="loading || !f.form.valid" class="btn btn-primary">{{ 'COMMON.SAVEACTION' | translate }}</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <button  type="cancel" (click)="cancel();" class="btn btn-secondary cancel">{{ 'COMMON.CANCEL' | translate }}</button>
    </div>
  </div>
</form>
