<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="">Veeam Cloud Backup</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" [routerLinkActive]="['active']">{{'NAVIGATION.HOME' | translate}} <span class="sr-only">(current)</span></a>
      </li>
    </ul>
      <form class="form-inline mt-2 mt-md-0">
    <select class="form-control" #langSelect (change)="translate.use(langSelect.value)" >
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
    </select>
    <div *ngIf="currentUser; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>{{currentUser.firstName}} {{currentUser.lastName}}</ng-template>
  <ng-template #elseBlock><div><a class="nav-link tx-color-white" routerLink="/login" [routerLinkActive]="['active']">{{"LOGIN.LOGIN" | translate}}</a></div></ng-template>
      <!--
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    </form>
  </div>
</nav>
