
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/tenant" [routerLinkActive]="['active']">{{'NAVIGATION.TENANT' | translate}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/services" [routerLinkActive]="['active']">{{'NAVIGATION.SERVICES' | translate}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/report" [routerLinkActive]="['active']">{{'NAVIGATION.REPORT' | translate}}</a>
    </li>

</ul>
  <!-- <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#">Nav item again</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">One more nav</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Another nav item</a>
    </li>
  </ul> -->
