<div cg-busy="{promise:ctrl.tenant,delay:0}"></div>

<md-content class="md-padding">
  <div layout="column" layout-gt-sm="row">

    <div flex-xs flex-gt-sm="50" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Aktuální využití</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div layout="row" layout-xs="column">
            <div flex-xs="40" flex="40">
              <canvas class="chart chart-doughnut" chart-data="ctrl.repositoryData" chart-labels="ctrl.repositoryLabels" chart-options="ctrl.options"></canvas>
            </div>
            <div flex="60">
              <div layout="row">
                <div flex><label>Využívaná velikost</label></div>
                <div flex>{{ctrl.tenant.usedQuota/1024 | number:1}} GB - {{(ctrl.tenant.usedQuota/ctrl.tenant.quota)*100 | number:2}} %</div>
              </div>
              <div layout="row">
                <div flex><label>Počet VM</label></div>
                <div flex>{{ctrl.tenant.vmCount}}</div>
              </div>
              <div layout="row">
                <div flex><label>Počet Server</label></div>
                <div flex>{{ctrl.tenant.serverCount}}</div>
              </div>
              <div layout="row">
                <div flex><label>Počet Workstation</label></div>
                <div flex>{{ctrl.tenant.workstationCount}}</div>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>


    <div flex-xs flex-gt-sm="50" layout="column">

      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Nastavení účtu</span>
          </md-card-title-text>
        </md-card-title>

        <md-card-content>

          <div layout="row">
            <div flex><label>Jméno uživatele</label></div>
            <div flex>{{ctrl.tenant.username}}</div>
          </div>
          <div layout="row">
            <div flex><label>Zakoupená alokace</label></div>
            <div flex>{{ctrl.tenant.quota/1024 | number:1}} GB</div>
          </div>
          <div layout="row">
            <div flex><label>Počet volných kreditů</label></div>
            <div flex>{{ctrl.tenant.credit}}</div>
          </div>
          <div layout="row">
            <div flex><label>Odhad vyčerpání kreditů: </label></div>
            <div flex>{{ctrl.tenant.creditDate | portalDate}}</div>
          </div>

          <div layout="row" layout-padding>
            <md-whiteframe class="md-whiteframe-2dp warningFrame" flex layout-align="center center" ng-show="ctrl.tenant.credit <= 0" ng-cloak>
              Váš Veeam účet je zablokován kvůli nedostatečnému kreditu.
            </md-whiteframe>
          </div>
        </md-card-content>

        <md-card-actions layout="row" layout-xs="column" layout-align="end center" layout-wrap>
          <md-button ng-click="ctrl.changeQuota()" class="md-raised md-accent">Změnit alokaci</md-button>
          <md-button ng-click="ctrl.buyCredit()" class="md-raised md-accent">Koupit kredit</md-button>
        </md-card-actions>
      </md-card>


      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Ceník</span>
          </md-card-title-text>
        </md-card-title>

        <md-card-content>
          <div class="row">
            <div class="col-sm-3">1000 kreditů&nbsp;=&nbsp;300 Kč</div>
          </div>
          <div class="row">
            <div class="col-sm-3">10GB / den</div>
            <div class="col-sm-2">&nbsp;=&nbsp;1 kredit</div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">1GB / den</div>
            <div class="col-sm-2">&nbsp;=&nbsp;cca 0,03 Kč</div>
          </div>
          <div class="row">
            <div class="col-sm-3">1x VM / měsíc</div>
            <div class="col-sm-2">&nbsp;=&nbsp;590 kreditů</div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">1x VM / měsíc</div>
            <div class="col-sm-2">&nbsp;=&nbsp;cca 175 Kč</div>
          </div>
          <div class="row">
            <div class="col-sm-3">1x Workstation / měsíc</div>
            <div class="col-sm-2">&nbsp;=&nbsp;330 kreditů</div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">1x Workstation / měsíc</div>
            <div class="col-sm-2">&nbsp;=&nbsp;cca 110 Kč</div>
          </div>
          <div class="row">
            <div class="col-sm-3">1x Server / měsíc</div>
            <div class="col-sm-2">&nbsp;=&nbsp;690 kreditů</div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">1x Server / měsíc</div>
            <div class="col-sm-2">&nbsp;=&nbsp;cca 230 Kč</div>
          </div>

        </md-card-content>
      </md-card>
    </div>
  </div>

</md-content>

<!--Buy credit modal form  -->
<script type="text/ng-template" id="buyCredit.html">
  <div cg-busy="[ctrl.promise,ctrl.user]"></div>

  <md-dialog flex-gt-sm="50" flex>
    <md-toolbar class="md-accent">
      <h2 class="md-toolbar-tools">
       Koupit kredit
     </h2>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <form name="ctrl.buyCreditForm" role="form" ng-cloak>
          <div layout-gt-sm="row">

            <md-input-container class="md-block form-group" layout="row">
              <label>Cena:</label>

              <input type="number" ng-model="ctrl.price" required="true" ng-change="ctrl.recalculateCredit()">
              <md-icon>Kč</md-icon>

            </md-input-container>
            <md-input-container class="md-block form-group">
              <label>Počet kreditů: </label>
              <input type="number" ng-model="ctrl.credit" ng-change="ctrl.recalculatePrice()" class="form-control" required="true">

            </md-input-container>
          </div>


          <h4>Způsob platby</h4>
          <md-radio-group ng-model="ctrl.type">

            <md-radio-button value="0" selected>Bankovním převodem - proforma</md-radio-button>
            <md-radio-button value="1" disabled>Kartou online</md-radio-button>

          </md-radio-group>

          <h4>Fakturační údaje</h4>

          <md-input-container class="md-block form-group" flex-gt-sm>
            <label>Jméno a přijmení (název firmy)</label>
            <input type="text" ng-model="ctrl.user.name" class="form-control">
          </md-input-container>
          <div layout-gt-sm="row">
            <md-input-container class="md-block form-group" flex-gt-sm>
              <label>Ulice a číslo popisné</label>
              <input type="text" ng-model="ctrl.user.street" class="form-control">
            </md-input-container>
            <md-input-container class="md-block form-group" flex-gt-sm>
              <label>Město</label>
              <input type="text" ng-model="ctrl.user.city" class="form-control">
            </md-input-container>
            <md-input-container class="md-block form-group" flex-gt-sm>
              <label>PSČ</label>
              <input type="text" ng-model="ctrl.user.postalCode" class="form-control">
            </md-input-container>
          </div>

          <div layout-gt-sm="row">
            <md-input-container class="md-block form-group" flex-gt-sm>
              <label>IČ</label>
              <input type="text" ng-model="ctrl.user.ico" class="form-control">
            </md-input-container>
            <md-input-container class="md-block form-group" flex-gt-sm>
              <label>DIČ</label>
              <input type="text" ng-model="ctrl.user.dic" class="form-control">
            </md-input-container>
          </div>

        </form>
        <div ng-include="'changeInvoiceInputForm.html'"> </div>
        </form>
      </div>

    </md-dialog-content>
    <md-dialog-actions layout="row" layout-xs="column" layout-align="center center">
      <div class="modal-footer">
        <md-button type="button" class="md-raised md-accent" ng-disabled="!ctrl.buyCreditForm.$valid" ng-click="ctrl.save()">Zaplatit</md-button>
        <md-button type="button" class="md-raised" ng-click="ctrl.cancel()">Zavřít</md-button>
      </div>
    </md-dialog-actions>

  </md-dialog>

</script>
<!-- end of modal -->

<script type="text/ng-template" id="changeQuota.html">
  <div cg-busy="[ctrl.promise]"></div>

  <md-dialog>
    <md-toolbar class="md-accent">
      <h2 class="md-toolbar-tools">
        Změna velikosti kvóty
      </h2>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <form name="ctrl.changeQuotaForm" role="form">
          <md-input-container class="md-block form-group">
            <label>Nová velikost kvóty v GB: </label>
            <input type="number" ng-model="ctrl.quota" class="form-control" required="true">

          </md-input-container>
        </form>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-xs="column" layout-align="center center">
      <div class="modal-footer">
        <md-button type="button" class="md-raised md-accent" ng-disabled="!ctrl.changeQuotaForm.$valid" ng-click="ctrl.save()">Změnit</md-button>
        <md-button type="button" class="md-raised" ng-click="ctrl.cancel()">Zavřít</md-button>
      </div>
    </md-dialog-actions>
  </md-dialog>
</script>
