<div cg-busy="{promise:ctrl.tenant,delay:0}"></div>
<div class="panel-body" ng-cloak>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading clearfix">
          <div class="title pull-left">Aktuální využití</div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-5">
              <canvas class="chart chart-doughnut" chart-data="ctrl.repositoryData" chart-labels="ctrl.repositoryLabels" chart-options="ctrl.options"></canvas>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6"><label>Využívaná velikost</label></div>
                <div class="col-sm-6">{{ctrl.tenant.usedQuota/1024 | number:1}} GB - {{(ctrl.tenant.usedQuota/ctrl.tenant.quota)*100 | number:2}} %</div>
              </div>
              <div class="row">
                <div class="col-sm-6"><label>Počet VM</label></div>
                <div class="col-sm-6">{{ctrl.tenant.vmCount}}</div>
              </div>
              <div class="row">
                <div class="col-sm-6"><label>Počet Server</label></div>
                <div class="col-sm-6">{{ctrl.tenant.serverCount}}</div>
              </div>
              <div class="row">
                <div class="col-sm-6"><label>Počet Workstation</label></div>
                <div class="col-sm-6">{{ctrl.tenant.workstationCount}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-info">
            <div class="panel-heading clearfix">
              <div class="title pull-left">Nastavení účtu</div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6"><label>Jméno uživatele</label></div>
                <div class="col-sm-6">{{ctrl.tenant.username}}</div>
              </div>
              <div class="row">
                <div class="col-sm-6"><label>Zakoupená alokace</label></div>
                <div class="col-sm-6">{{ctrl.tenant.quota/1024 | number:1}} GB</div>
              </div>
              <div class="row">
                <div class="col-sm-6"><label>Počet volných kreditů</label></div>
                <div class="col-sm-6">{{ctrl.tenant.credit}}</div>
              </div>
              <div class="row" ng-show="ctrl.tenant.user.credit <= 0">
                <div class="col-sm-12"><span class="alert-danger">Váš Veeam účet je zablokován kvůli nedostatečnému kreditu.</span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6"><label>Odhad vyčerpání kreditů</label></div>
                <div class="col-sm-6">{{(ctrl.tenant.creditDate | portalDate)}}</div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-sm-offset-4" ng-show="ctrl.tenant.repositoryUid">
                  <input type="button" ng-click="ctrl.changeQuota()" class="form-control btn btn-mycom" value="Změnit zakoupenou alokaci">
                </div>
                <div class="col-sm-4 col-sm-offset-4" ng-show="!ctrl.tenant.repositoryUid && ctrl.tenant.user.credit > 0">
                  <input type="button" ng-click="ctrl.createTenant()" class="form-control btn btn-mycom" value="Vytořit zálohovací prostor">
                </div>
                <div class="col-sm-4">
                  <input type="button" ng-click="ctrl.buyCredit()" class="form-control btn btn-mycom" value="Koupit kredit">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-info">
            <div class="panel-heading clearfix">
              <div class="title pull-left">Ceník</div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-3">1000 kreditů</div>
                <div class="col-sm-2">&nbsp;=&nbsp;300 Kč</div>
              </div>
              <div class="row">
                <div class="col-sm-3">10GB / den</div>
                <div class="col-sm-2">&nbsp;=&nbsp;1 kredit</div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3">1GB / den</div>
                <div class="col-sm-2">&nbsp;=&nbsp;cca 0,03 Kč</div>
              </div>
              <div class="row">
                <div class="col-sm-3">1x VM / měsíc</div>
                <div class="col-sm-2">&nbsp;=&nbsp;590 kreditů</div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3">1x VM / měsíc</div>
                <div class="col-sm-2">&nbsp;=&nbsp;cca 175 Kč</div>
              </div>
              <div class="row">
                <div class="col-sm-3">1x Workstation / měsíc</div>
                <div class="col-sm-2">&nbsp;=&nbsp;330 kreditů</div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3">1x Workstation / měsíc</div>
                <div class="col-sm-2">&nbsp;=&nbsp;cca 110 Kč</div>
              </div>
              <div class="row">
                <div class="col-sm-3">1x Server / měsíc</div>
                <div class="col-sm-2">&nbsp;=&nbsp;690 kreditů</div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3">1x Server / měsíc</div>
                <div class="col-sm-2">&nbsp;=&nbsp;cca 230 Kč</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" ng-show="ctrl.tenant.subtenants.length > 0">
      <div class="panel panel-info">
        <div class="panel-heading clearfix">
          <div class="title pull-left">Subtenanti</div>
        </div>

        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>Jméno</th>
            <th>Alokace GB</th>
            <th>Využívaná GB</th>
            <th>Využívaná %</th>
            <th>Povolen</th>
            <th>Založen</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="subtenant in ctrl.tenant.subtenants">
            <td>{{::subtenant.username}}</td>
            <td>{{::subtenant.quota/1024 | number:1}}</td>
            <td>{{::subtenant.usedQuota/1024 | number:1}}</td>
            <td>{{::(subtenant.usedQuota/subtenant.quota)*100 | number:2}}%</td>
            <td>
              <span class="fa fa-check" style="color: green" ng-if="subtenant.enabled"></span>
              <span class="fa fa-remove red" style="color: red" ng-if="!subtenant.enabled"></span>
            </td>
            <td>{{::subtenant.dateCreated | portalDateTime}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="buyCredit.html">
  <div cg-busy="[ctrl.promise]"></div>
  <form name="ctrl.buyCreditForm" role="form">
    <div class="modal-header">
      <button type="button" class="close" ng-click="ctrl.cancel()">×</button>
      <h4 class="modal-title">Koupit kredit</h4>
    </div>
    <div class="modal-body">
      <div class="form-group form-group-sm" style="width: 150px">
        <label>Počet kreditů: </label>
        <input type="number" ng-model="ctrl.credit" ng-change="ctrl.recalculatePrice()" class="form-control" required="true">
      </div>
      <div class="form-group form-group-sm" style="width: 150px">
        <label>Cena:</label>
        <div class="input-group">
          <input type="number" class="form-control" ng-model="ctrl.price" required="true" ng-change="ctrl.recalculateCredit()">
          <span class="input-group-addon">Kč</span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-mycom" ng-disabled="!ctrl.buyCreditForm.$valid" ng-click="ctrl.save()">Zaplatit</button>
      <button type="button" class="btn btn-default" ng-click="ctrl.cancel()">Zavřít</button>
    </div>
  </form>
</script>

<script type="text/ng-template" id="changeQuota.html">
  <div cg-busy="[ctrl.promise]"></div>
  <form name="ctrl.changeQuotaForm" role="form">
    <div class="modal-header">
      <button type="button" class="close" ng-click="ctrl.cancel()">×</button>
      <h4 class="modal-title">Změna velikosti kvóty</h4>
    </div>
    <div class="modal-body">
      <div class="form-group form-group-sm">
        <label>Nová velikost kvóty v GB: </label>
        <input type="number" ng-model="ctrl.quota" class="form-control" required="true">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-mycom" ng-disabled="!ctrl.changeQuotaForm.$valid" ng-click="ctrl.save()">Změnit</button>
      <button type="button" class="btn btn-default" ng-click="ctrl.cancel()">Zavřít</button>
    </div>
  </form>
</script>

<script type="text/ng-template" id="createTenant.html">
  <div cg-busy="[ctrl.promise]"></div>
  <form name="ctrl.createTenantForm" role="form">
    <div class="modal-header">
      <button type="button" class="close" ng-click="ctrl.cancel()">×</button>
      <h4 class="modal-title">Založit tenanta</h4>
    </div>
    <div class="modal-body">
      <div class="form-group form-group-sm">
        <label>Velikost kvóty v GB: </label>
        <input type="number" ng-model="ctrl.quota" class="form-control" step="10" required="true" min="10">
      </div>
      <div class="form-group">
        <label>Heslo *</label>
        <input type="password" ng-model="ctrl.password" class="form-control" ng-required="true">
      </div>
      <div class="form-group">
        <label>Potvrdit heslo *</label>
        <input type="password" ng-model="ctrl.confirmPassword" class="form-control" ng-required="true">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-mycom" ng-disabled="ctrl.password !== ctrl.confirmPassword || !ctrl.createTenantForm.$valid" ng-click="ctrl.save()">Založit</button>
      <button type="button" class="btn btn-default" ng-click="ctrl.cancel()">Zavřít</button>
    </div>
  </form>
</script>

<script type="text/ng-template" id="changeTenantPassword.html">
  <div cg-busy="[ctrl.promise]"></div>
  <form name="ctrl.changeTenantPasswordForm" role="form">
    <div class="modal-header">
      <button type="button" class="close" ng-click="ctrl.cancel()">×</button>
      <h4 class="modal-title">Změna hesla tenanta</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Heslo *</label>
        <input type="password" ng-model="ctrl.password" class="form-control" ng-required="true">
      </div>
      <div class="form-group">
        <label>Potvrdit heslo *</label>
        <input type="password" ng-model="ctrl.confirmPassword" class="form-control" ng-required="true">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-mycom" ng-disabled="ctrl.password !== ctrl.confirmPassword || !ctrl.changeTenantPasswordForm.$valid" ng-click="ctrl.save()">Změnit</button>
      <button type="button" class="btn btn-default" ng-click="ctrl.cancel()">Zavřít</button>
    </div>
  </form>
</script>
