<div cg-busy="[ctrl.promise]"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel  no-border">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-2">
              <img src="assets/logo.png" />
            </div>
          </div>
        </div>
        <md-divider></md-divider>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <form name="ctrl.formLogin" ng-submit="ctrl.login()" role="form">
                <md-input-container class="md-block form-group" flex-gt-sm>
                  <label>Nové heslo</label>
                  <input type="password" ng-model="ctrl.password" class="form-control" ng-required="true">
                </md-input-container>
                <md-input-container class="md-block form-group" flex-gt-sm>
                  <label>Potvrdit heslo</label>
                  <input type="password" ng-model="ctrl.confirmPassword" class="form-control" ng-required="true">
                </md-input-container>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                  <md-button type="submit" class="md-raised md-accent btn-login" ng-disabled="ctrl.password !== ctrl.confirmPassword || !ctrl.formLogin.$valid">Přihlásit se</md-button>
                </section>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
