<div cg-busy="[ctrl.promise]"></div>

<div layout-align="center center" flex layout="column">
<md-content  class="md-padding" layout-align="center center" flex-gt-sm="50" layout-gt-xs="column" layout="column">
  <md-card>
    <md-card-title>
      <img src="assets/logo.png" />
    </md-card-title>
    <md-card-content  class="md-padding">


      <form name="ctrl.formLogin" ng-submit="ctrl.login()" role="form">
        <md-input-container class="md-block form-group" flex-gt-sm>
          <label>Nové heslo</label>
          <input type="password" ng-model="ctrl.password" ng-required="true">
        </md-input-container>
        <md-input-container class="md-block form-group" flex-gt-sm>
          <label>Potvrdit heslo</label>
          <input type="password" ng-model="ctrl.confirmPassword" ng-required="true">
        </md-input-container>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
          <md-button type="submit" class="md-raised md-accent btn-login" ng-disabled="ctrl.password !== ctrl.confirmPassword || !ctrl.formLogin.$valid">Přihlásit se</md-button>
        </section>
      </form>

    </md-card-content>
  </md-card>

</md-content>
</div>
