<div cg-busy="[ctrl.promise]"></div>
<div layout-align="center center" flex>
<md-content  class="md-padding" layout-align="center center" flex  layout="column">
  <md-card flex="50">
    <md-card-title>
      <img src="assets/logo.png" />
    </md-card-title>
    <md-card-content  class="md-padding">
      <div layout="row" flex>

          <md-nav-bar md-selected-nav-item="ctrl.activeForm" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-click="ctrl.panelChange('login')" name="login">Existujíci uživatel</md-nav-item>
            <md-nav-item md-nav-click="ctrl.panelChange('register')" name="register">Nový uživatel</md-nav-item>
          </md-nav-bar>

      </div>

      <div ng-show="ctrl.activeForm === 'login'" layout-fill>
        <form name="ctrl.formLogin" ng-submit="ctrl.login()" role="form">

          <md-input-container class="md-block form-group"  flex-gt-sm>
            <label>Uživatelské jméno</label>
            <input type="email" ng-model="ctrl.username" class="md-block" ng-required="true">
          </md-input-container>

          <md-input-container class="md-block form-group" flex-gt-sm>
            <label>Heslo</label>
            <input type="password" ng-model="ctrl.password" ng-required="true"  class="md-block">
          </md-input-container>

          <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button type="submit" class="md-raised md-accent btn-login" ng-disabled="!ctrl.formLogin.$valid">Přihlásit se</md-button>
          </section>
          <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <a href="" ng-click="ctrl.forgotPassword()" class="forgot-password">Zapomenuté heslo?</a>
          </section>
        </form>
      </div>
      <div ng-hide="ctrl.activeForm === 'login'" layout-fill>
        <form name="ctrl.registerForm" ng-submit="ctrl.register()" role="form" flex>

          <md-input-container class="md-block form-group" flex-gt-sm>
            <label>Email</label>
            <input type="email" ng-model="ctrl.user.username" ng-required="true">
          </md-input-container>

          <section layout="row" layout-sm="column">
            <div vc-recaptcha key="'6Lcg1yoUAAAAAGenfhvyKUiE0sB8dU28b-L623s_'" lang="cs"></div>
          </section>

          <section layout="row" layout-sm="column">
            <span>Kliknutím na registrovat souhlasíte s obchodními podmínkami</span>
          </section>

          <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button type="submit" class="md-raised md-accent btn-login" ng-disabled="!ctrl.registerForm.$valid">Registrovat se</md-button>
          </section>

        </form>
        </div>
    </md-card-content>
  </md-card>

</md-content>
</div>

<script type="text/ng-template" id="forgotPassword.html">
  <div cg-busy="[ctrl.promise]"></div>
    <md-dialog>
      <md-toolbar class="md-accent">
        <h2 class="md-toolbar-tools">
          Zapomenuté heslo
        </h2>
      </md-toolbar>
      <md-dialog-content>
        <div class="md-dialog-content">
          <form name="ctrl.forgotPasswordForm" role="form">
            <md-input-container class="md-block form-group" flex-gt-sm>
              <label>Uživatelské jméno</label>
              <input type="email" ng-model="ctrl.username" ng-required="true">
            </md-input-container>
            <md-dialog-actions layout="row" layout-xs="column" layout-align="center center">
              <div class="modal-footer">
                <md-button type="button" class="md-raised md-accent" ng-disabled="!ctrl.forgotPasswordForm.$valid" ng-click="ctrl.save()">Odeslat</md-button>
                <md-button type="button" class="md-raised" ng-click="ctrl.cancel()">Zavřít</md-button>
              </div>
            </md-dialog-actions>
          </form>
        </div>
      </md-dialog-content>
    </md-dialog>
</script>
