<div cg-busy="[ctrl.promise]"></div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel no-border">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-12">
              <img src="assets/logo.png" />
              <h2 style="font-weight: bold;">Veeam Portal</h2>
            </div>
          </div>
          <div class="row">
            <div>
              <md-nav-bar md-selected-nav-item="ctrl.activeForm" nav-bar-aria-label="navigation links">
                <md-nav-item md-nav-click="ctrl.panelChange('login')" name="login">Existujíci uživate</md-nav-item>
                <md-nav-item md-nav-click="ctrl.panelChange('register')" name="register">Registrace nového uživatele</md-nav-item>
              </md-nav-bar>
            </div>
          </div>

        </div>
        <div>
          <div class="row">

              <form name="ctrl.formLogin" ng-submit="ctrl.login()" role="form" ng-show="ctrl.activeForm == 'login'">

                <md-input-container class="md-block form-group" flex-gt-sm>
                  <label>Uživatelské jméno</label>
                  <input type="email" ng-model="ctrl.username" placeholder="tvuj@email.cz" ng-required="true">
                </md-input-container>

                <md-input-container class="md-block form-group" flex-gt-sm>
                  <label>Heslo</label>
                  <input type="password" ng-model="ctrl.password" ng-required="true" class="md-no-float">
                </md-input-container>

                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                  <md-button type="submit" class="md-raised md-accent" ng-disabled="!ctrl.formLogin.$valid">Přihlásit se</md-button>
                </section>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                  <a href="" ng-click="ctrl.forgotPassword()" class="forgot-password">Zapomenuté heslo?</a>
                </section>

              </form>

              <form name="ctrl.registerForm" ng-submit="ctrl.register()" role="form" ng-show="ctrl.activeForm == 'register'">
                <div class="modal-body">
                  <md-input-container class="md-block form-group" flex-gt-sm>
                    <label>Email</label>
                    <input type="email" ng-model="ctrl.user.username" class="form-control" placeholder="tvuj@email.cz" ng-required="true">
                  </md-input-container>
                </div>

                <div class="form-group col-sm-12">
                  <div vc-recaptcha key="'6Lcg1yoUAAAAAGenfhvyKUiE0sB8dU28b-L623s_'" lang="cs"></div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" class="form-control btn btn-mycom" ng-disabled="!ctrl.registerForm.$valid" value="Registrovat se">
                    </div>
                  </div>
                </div>
              </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="forgotPassword.html">
  <div cg-busy="[ctrl.promise]"></div>
  <form name="ctrl.forgotPasswordForm" role="form">
    <div class="modal-header">
      <md-button type="button" class="close" ng-click="ctrl.cancel()">×</button>
        <h4 class="modal-title">Zapomenuté heslo</h4>
    </div>
    <div class="modal-body">
      <md-input-container class="md-block form-group" flex-gt-sm>
        <label>Uživatelské jméno</label>
        <input type="email" ng-model="ctrl.username" class="form-control" placeholder="tvuj@email.cz" ng-required="true">
      </md-input-container>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-mycom" ng-disabled="!ctrl.forgotPasswordForm.$valid" ng-click="ctrl.save()">Odeslat</button>
      <button type="button" class="btn btn-default" ng-click="ctrl.cancel()">Zavřít</button>
    </div>
  </form>
</script>
